{% extends 'layout/base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block container %}
  <div id="app" data-post-id={{ post.id }}>
    <div class="ant-layout" style="margin-top: 20px; padding: 10px; background: rgb(255, 255, 255);">
      <div class="ant-layout-content" style="padding: 0px 30px;">
        <h1>{{ post.title }}</h1>
        <div style="margin-top: 20px; font-size: 13px;">
          {{ post.content }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% render_bundle 'vendor.js' %}
  {% render_bundle 'detail.js' %}
{% endblock %}