#app {
    background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
    background-position: center;
}

#app .login-form {

  max-width: 300px;
  margin: 0 auto;
    padding: 200px 0;
    box-sizing: border-box;
}
#app .login-form-forgot {
  float: right;
}
#app .login-form-button {
  width: 100%;
}